  @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
  
*{
margin: 0px;

    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header{
display: flex;
background-color: #0B1F40;
height: 100px;
img{
  width: 80px;
  height: 70px;
  margin-top: 10px;
  margin-left: 10px;
}

h1{
  margin: 20px 0 20px 20px;
  font-weight: 900;
  color: white;
  text-align: center;
}
}


main{
  width: 1200px;
  margin: 0px auto 0px auto;
  padding: 40px 0 40px 0;

  h2{
    text-align: center;
    font-size: 2rem;

  }
  h3{
    text-align: center;
    font-size: 1.5rem;
  }
  
  p{
    text-align: center;
    line-height:  150%;
    margin: 20px 0 20px 0;
    font-size: 1.3rem;
    font-weight: 200;
  }
  a{
    text-decoration: none;
    h2{
      color: #000;
    }
  }
}

.grid-home{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  border-radius: 15px;
  p{
    margin: 10px 10px 20px 10px;
    color: #16194d;
  }
  h3{
        color: #000;
  }
      *{
        flex-basis: 300px;        
        flex-grow: 1;            
        flex-shrink: 1;         
    }
    .card{ 
    box-shadow:0px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    gap: 15px;
    }
    img{
      width: 100%;
      object-fit: cover;
      height: 200px;
      border-radius: 15px;
      /* border-radius: 15px; */
    }
  
}  
.card:hover{
  transform: translatey(-5px);
}

.redes-sociais{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px; 
    h2{
      margin-bottom: 30px;
    }
  a{
  border-radius: 15px;
  color: white;
  padding: 10px 15px;
  margin: 0px 5px;
  text-decoration: none;
  }

  a:nth-child(1){
    background-color: #3b5998;
  }
   a:nth-child(2){                    /*cor para o instagram*/
        background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    }
  a:nth-child(3){
    background-color: #000;
  }
  a:nth-child(4){
    background-color: #ff0000;
  }
    a:nth-child(5){
    background-color: #25d366;
  }

}




.voltar{
  text-align: center;
  text-decoration: none;
}


footer{
  background-color: #a8a7a7;
  text-align: center;
  padding: 30px 0 30px 0;
  h3{
    font-weight: 200;
  }
}


.municipio{
  /* margin-left: 50px;
  margin-right: 50px; */
  margin-top: 40px;
  .m1{
  display: flex;
  justify-content: center;
  margin-bottom: 0;
 img{
  height: 250PX;
  margin-bottom: 0;
 }
 P{
  text-align: left;
  margin-left: 10PX;
  margin-top: 0;
  margin-bottom: 0;
 }
 }

.m2{
  display: flex;
  justify-content: center;
  margin: 0;
 img{
  width: 350px;
  height: 250PX;
  text-align: end;
  margin: 0px 20px;
 }
 P{
  text-align: left;
  margin-top: 0;
 }
}

.m3{
  display: flex;
  justify-content: center;
    margin: 0;
 img{
  width: 350px;
  height: 250PX;
 }
 P{
  text-align: left;
  margin-left: 10PX;
  margin-top: 0px;
  margin-bottom: 0px;
 }
}
p{
  text-align: start;
  margin-top: 0px;
  
}
}

.tabelas{
  margin-left: 27%;
  margin-right: 27%;
  margin-bottom: 50px; 
  margin-top: 40px;
 *{ 
  border-bottom: 1px #a8a7a7 solid ;
  border-collapse: collapse;

  }
table{
  width: 100%;
}
th{
  text-align: start;
  border-bottom: 3px #8e8e8e solid ;
  font-size: 1.2rem;
  font-weight: bold;
}
td{
  font-size: 20px;
  font-weight: 100;
}

td:nth-child(2){
  text-align: end;
}
th:nth-child(2){
  text-align: end;
}
}


.localizacao{
  width: 1040px;
  margin: 0px auto;
  .l1{
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    p{
      width: 50%;
      text-align: start;
      margin-right: 10px;
    }
    iframe{
      width: 500px;
    }
  }
  .l2{
    p{
      font-weight: bold;
      text-align: start;
      margin-top: 40px;
      margin-bottom: 0;
    }
    iframe{
      width: 100%;
      height: 600px;
      margin-bottom: 40px;
    }
  }
}


.esporte{
  text-align: center;
 div{
  iframe{
    margin-top: 0;
    margin-bottom: 40px;
    width: 60%;
    height: 70vh;
  }
  p{
    text-align: start;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 5px;
    margin-left: 20%;
  }
}
}


.turismo{
  width: 1040px;
  margin: 0px auto;
  div{
  display: flex;
  align-items: center;
    margin-bottom: 40px;
  img{
    margin: 0px 10px;
    width: 100%;
    height: 300px;
  }
  p{
    text-align: start;
  }
  
}
h2{
  text-align: start;
  margin-bottom: 0;
  margin-top: 40px;
}

}

.comercio{
  p{
    text-align: start;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 40px;
    margin-bottom: 10px;
  }
.com1{
  display: flex;
  align-items: center;
  margin: 0px 0 40px 0;
  iframe{
    width: 40%;
    height: 360px;
  }
  ul{
    width: 60%;
    
    li{
      margin-bottom: 40px;
      font-size: larger;
    }
  }
}
.com2{
  margin: 20px 0 40px 0;
  li{
    margin-bottom: 20px;
    font-size: larger;
    font-weight: bold;
    p{
      margin-top: 0px;
      margin-left: 10px;
      font-size: small;
      font-weight: 100;
    }
  }
}
}


@media screen and (max-width: 800px){
  main{
    width: 100%;
    .grid-home{
  *{
    flex-basis: 100%;
   }
  }
  .municipio{
    div{
    flex-direction: column;
      align-items: center;
      img{
        margin-top: 40px;
        text-align: start;
      }
      p{
        width: 100%;
      }
    }
    .m2{
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .localizacao{
    width: 100%;
    .l1{
      flex-direction: column;
      align-items: center;
      p{
        width: 100%;
        margin-left: 10px;
      }
      iframe{
        width: 90%;
        height: 30vh;
      }
    }
    .l2{
      flex-direction: column;
      align-items: center;
      iframe{
        width: 100%;
        height: 40vh;
      }
      p{
        margin-left: 10PX;
      }
    }
  }

.turismo{
  width: 100%;
  div{
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  }
  .reverter{
    flex-direction: column-reverse;
  }
  h2{
    margin-left: 10px;
  }
}

.comercio{
  width: 100%;
  .com1{
    flex-direction: column;
    P{
      text-align: start;
    }
    iframe{
      width: 100%;
    }
    ul{
      width: 100%;
      margin-right: 10px;
    }
  }
  p{
    margin-left: 10px;
    margin-right: 10px;
  }
}
.esporte{
  iframe{
    width: 80%;
    height: 40vh;
  }
  P{
    margin-left: 10%;
  }
}
.redes-sociais{
  display: flex;
  flex-direction: column;
  a{
    flex-basis: 100%;
    margin-bottom: 2%;
  }
}
.card{
  width: 100%;
}

.descricao{
  margin-left: 10px;
  margin-right: 10px;
}

.tabelas{
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}







  }
}